DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=nest_project
DATABASE_USERNAME=student
DATABASE_PASSWORD=student
DATABASE_DRIVER=postgres
LOGGER_FORMAT=dev

POSTGRES_DB=nest_project
POSTGRES_USER=student
POSTGRES_PASSWORD=student

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
